@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
}

.button-50 {
  min-height: 50px;
}

.text-center {
  text-align: center;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

app-dashboard {
  display: flex;
}

#add-link {
  position: absolute;
  right: 5%;
  bottom: 5%;
}

.mat-tab-label {
  width: 50%;
}

/*.prueba {
  background-color: rgba(255, 0, 0, 0.5);
}

.flex-container {
  display: flex;
  justify-content: center;

}

.flex-item {

}*/
